.pagination__container{
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;
    color: #FFF;
}
.pagination__container > div{
    width: 30%;
    text-align: center;
}

.pagination__current h3{
    margin: 0px;
}
.pagination__container span{
    cursor: pointer;
    font-weight: 600;
}